.dashboard-wrapper {
  .dashboard-header {
    background-color: #888888;
    padding: 0 20px;
    height: 60px;
    line-height: 60px;
    color: #231547;
    font-size: 18px;
  }

  .dashboard-content-wrapper {
    .dashboard-sidebar {

    }

    .dashboard-content {

    }
  }
}